/* BASE STYLES */
:root {
    --clr-dark: #0f172a;
    --clr-light: #f1f5f9;
    --clr-accent: #e11d48;
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: "Roboto", sans-serif;
    color: var(--clr-dark);
    background-color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.container {
    width: 580px;
    height: 400px;
    margin: 0 auto;
    border: 10px solid var(--clr-dark);
}
  
.item {
    background-color: #fb7185;
    padding: 1em;
    font-weight: 700;
    color: var(--clr-light);
    text-align: center;
    border: 10px solid var(--clr-accent);
    border-radius: 10px;
}

@media screen and (max-width: 399px) {
    .item {
        width: 130px;
        height: 130px;
    }    
}

@media screen and (min-width: 400px) {
    .item {
        width: 150px;
        height: 150px;
    }    
}
  
/* END OF BASE STYLES */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 10px solid #0f172a;
}

body {
    background: #0f172a;
}

.item {
    border: none;
    margin: 20px;
}

.item-1 {
    flex-grow: 1;
    background: linear-gradient(222deg, rgba(0,255,248,1) 0%, rgba(0,104,255,1) 100%);
}

@media screen and (max-width: 360px) {
    .item-2 {
        flex-grow: 1;
    }   
}

.item-2 {
    background: linear-gradient(222deg, rgba(255,0,254,1) 0%, rgba(70,0,128,1) 100%);
}

.item-3 {
    flex-grow: 1;
    background: linear-gradient(222deg, rgba(255,252,0,1) 0%, rgba(255,106,0,1) 100%);
}

.js-tilt {
    transform-style: preserve-3d;
    border-radius: 10px;
}

.data {
    transform: translateZ(20px);
}

img {
    width: 120px;
    border-radius: 10px;
}

.item {
    display: flex;
}

.item .image {
    display: flex;
    justify-content: flex-end; /* новый стиль для перемещения в правую часть */
    align-items: center;
    transform: translateZ(20px);
}

.item .text {
    position: relative;
    justify-content: center;
    width: 100%;
    display: flex;
    bottom: auto; /* удаление bottom для возврата на исходную позицию */
    top: 0; /* новый стиль для перемещения в левую часть */
    
}

.content{
    transform: translateZ(10px);
    
    overflow: hidden;
}

.title {
    margin: 0;
}

.desc {
    margin-left: 5px;
}

.lt {
    font-size: 13px;
}